{% extends "base.html" %} {% block content %}
<div style="text-align:center">
    <table>
        <thead>
        <tr>
            <th>
                Исходная ссылка
            </th>
            <th>
                Сокращенная ссылка
            </th>
            <th>
                Дата
            </th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
        <tr>
            <td>
                <p>{{ result[0] }}</p>
            </td>
            <td>
                <a href="{{ request.host_url }}{{ result[1] }}">{{ request.host_url }}{{ result[1] }}</a>
            </td>
            <td>
                <p>{{ result[2] }}</p>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}